---
layout: default
title: Training
permalink: /training/
image: /img/test.jpg
---

<div class="container content">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="title">{{ page.title }}</h1>
		</div>
	</div>
</div>

<div class="container" >
	<div class="row profile-details">
		<div class="col-md-3 ">
			<img src="/img/profile.png" alt="Mark Winteringham" class="profile" />
		</div>
		<div class="col-md-9">
			<p>My name is Mark Winteringham and I help teams and individuals with their software testing problems. I offer training in test automation and software testing techniques based on my years of experience working on award-winning projects across a wide variety of technology sectors.</p>
			<p>All of my workshops are experiential in nature and offer attendees the opportunity to learn new tools and techniques to succeed in their day to day testing activities. Details of my workshops can be found below.</p>
		</div>
			{% for page in site.training %}
				{% assign loopindex = forloop.index | modulo: 3 %}
				{% if loopindex == 1 %}
				</div>
				<div class="row">
					<div class="col-md-4 training-padding">
						<a href="{{ page.url }}">
							<div class="training-event" style="background-image:linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('{{ page.image }}')">
								<p class="training-event-title">{{ page.title }}</p>
								<p>{{ page.description }}</p>
							</div>
						</a>
					</div>
				{% else %}
					<div class="col-md-4 training-padding">
						<a href="{{ page.url }}">
							<div class="training-event" style="background-image:linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('{{ page.image }}')">
								<p class="training-event-title">{{ page.title }}</p>
								<p>{{ page.description }}</p>
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
	</div>
</div>