header {
    border: 1px solid black;
}

#logo, #links li {
    float: left;
}

#logo {
    margin-left: 100px;
}

#links li{
    list-style: none;
    padding-left: 10px;
}

nav {
    float: right;
    margin-right: 100px;
}

.clearfix {
    overflow: auto;
}