.content {
    margin-top: 30px;
}

.content-body {
    text-align: justify;
}

.title {
    font-size: 3.0rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    color: grey;
    margin-top: -15px;
    margin-bottom: 30px;
}

.details { 
    text-align: left;
    color: grey;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.25rem;
}

.details > p {
    float: left;
}

.details > div {
    text-align: right;
}

.social i {
    color: #007bff;
}

.social a {
    font-size: 0.85em;
}

.videos {
    font-size: 0.9em;
}

.indent .row {
    margin-left: -27px;
}

.row {
    text-align: left;
}

.column-edit .row {
    border-top: 1px solid grey;
    padding-top: 15px;
}

.resource-entry {
    margin-top: -15px;
}

.date {
    color: grey;
}

.tags {
    text-transform: uppercase;
    margin-top: -15px;
    font-size: 0.7rem;
    color: grey;
}

.training-body {
    margin-top: 15px;
}