.custom-footer h2{
    font-size: 2.0em;
}

.custom-footer {
    background-color: black;
    color: grey;
    font-size: 0.85em;
}

.custom-footer a {
    color: grey;
    text-decoration: underline;
}

.footer-header {
    font-weight: bold;
}