@media (min-width: 768px){
    .home a{
        color: white !important;
    }

    .home-page-image {
        padding-top: 140px;
        height: 100vh;
        min-height: 400px;
        background-size: cover;
        margin-top: -55px;
        background-color: rgba(0,0,0,.3);
    }

    .vertical-center {
        min-height: 70%;
        min-height: 70vh;
    
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px){

    .home-page-image {
        height: 100vh;
        min-height: 400px;
        background-size: cover;
    }

    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
    
        display: flex;
        align-items: center;
    }
}

.home-title {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
