.profile-details {
    margin-top: 15px;
    margin-bottom: 30px;
}

.profile {
    width: 80%;
    border-radius: 50%;
}

.training-event {
    width: 350px;
    height: 200px;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid lightgrey;
}

.training-event-title {
    font-family: 'Cabin', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.training-event p {
    color: black;
    text-decoration: none;
}

.training-padding {
    margin-bottom: 15px;
}