.training-event {
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    background-size: cover;
}

.training-event p {
    margin-top: 40px;
}

.training-event a {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}