<html>
    <head>
        <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
    </head>
    <body>
        <header>
            <div class="clearfix">
                <div id="logo">
                    <span>MW Test Consultancy</span>
                </div>
                <nav >
                    <ul id="links">
                        <li><a href="/" alt="Home">Home</a> |</li>
                        <li><a href="/training/">Training</a> |</li>
                        <li><a href="/resources/">Resources</a> |</li>
                        <li><a href="/archive/">Archive</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section>
            {{ content }}
        </section>
        
        {% include footer.html %}