---
layout: default
---

{% for post in site.posts limit:1 %}

    <section class="home-page-image" style="background-image:linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1.0)), url('{{ post.image }}')">
        <div class="vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h1 class="text-center home-title">{{ post.title }}</h1>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                        <button type="button" onclick="$('html, body').animate({scrollTop: $('#date').offset().top}, 1000);" class="btn btn-dark btn-block read-more"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> Read more</button>
                    </div>
                    <div class="col-sm-5"></div>
                </div>
            </div>
        </div>
    </section>

    <div class="container content">
        <div class="row">
            <div class="col-sm-12 details">
                <p id="date">{{ post.date | date_to_long_string }}</p>
                
                <div>
                    <p class="social"><a href="{{site.url}}/{{post.permalink}}" alt="{{post.title}}">PERMALINK</a> | <a href="https://twitter.com/share?url={{site.url}}/{{post.permalink}}/&text={{post.title}}%20written%20by%20@2bittester" alt="Share on Twitter: {{page.title}}" target="_blank"><i class="fa fa-twitter"></i><span hidden>Share on Twitter</span></a> | <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}/{{post.permalink}}" alt="Share on Facebook: {{page.title}}" target="_blank"><i class="fa fa-facebook"></i><span hidden>Share on Facebook</span></a> | <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}/{{post.permalink}}" alt="Share on Linkedin: {{page.title}}" target="_blank"><i class="fa fa-linkedin"></i><span hidden>Share on Linkedin</span></a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 content-body">
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% include banner.html %}