---
layout: default
---

<div class="container content">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 details">
            <p>{{ page.date | date_to_long_string }}</p>
            <div>
                <p class="social"><a href="https://twitter.com/share?url={{site.url}}{{page.url}}/&text={{page.title}}%20written%20by%20@2bittester" alt="Share on Twitter: {{page.title}}" target="_blank"><i class="fa fa-twitter"></i><span hidden>Share on Twitter</span></a> | <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" alt="Share on Facebook: {{page.title}}" target="_blank"><i class="fa fa-facebook"></i><span hidden>Share on Facebook</span></a> | <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}" alt="Share on Linkedin: {{page.title}}" target="_blank"><i class="fa fa-linkedin"></i><span hidden>Share on Linkedin</span></a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 content-body">
            {{ page.content }}
        </div>
    </div>
    </div>
</div>

{% include banner.html %}