---
layout: default
---

<div class="banner">
    <div class="container">
        <div class="row upper-banner-details">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p><a href="mailto:training@mwtestconsultancy.co.uk">Contact me to discuss your training requirements</a></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 content-body training-body">
            {{ page.content }}
        </div>
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="row banner-details">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>Are you interested in this training?</h1>
                <p>If you want to know more about this training and discuss your requirements <a href="mailto:training@mwtestconsultancy.co.uk">contact me to discuss your training requirements</a></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>