---
layout: default
---

<div class="banner">
    <div class="container">
        <div class="row upper-banner-details">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p><a href="" onclick="Calendly.showPopupWidget('https://calendly.com/mwtestconsult/training-enquiry');return false;">Schedule a video call with me now</a> to discuss your training requirements.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 content-body training-body">
            {{ page.content }}
        </div>
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="row banner-details">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>Are you interested in this training?</h1>
                <p>If you want to know more about this training and discuss your requirements. Feel free to <a href="" onclick="Calendly.showPopupWidget('https://calendly.com/mwtestconsult/training-enquiry');return false;">schedule a video call with me</a> and I will answer any questions you might have.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>