---
layout: default
---

<div class="container content">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 content-body training-body">
            {{ page.content }}
        </div>
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="row banner-details">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>Would you like to attend this training?</h1>
                <p>If you would like to attend this training or run this workshop at your place of work. Please get in touch via <a href="mailto:training@mwtestconsultancy.co.uk">training@mwtestconsultancy.co.uk</a></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>